<h2>Eventos componentes</h2>

<form action="">
  <div class="row g-3">
    <div class="col-sm-7">
      <input type="text" class="form-control col-sm-7" placeholder="buscar">
    </div>
    <div class="col-sm">
      <button class="btn btn-outline-success col-sm">Buscar!</button>
    </div>
  </div>
</form>
<hr>
<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Imagem</th>
      <th scope="col">Tema</th>
      <th scope="col">Local</th>
      <th scope="col">Data</th>
      <th scope="col">Qtd Pessoas</th>
      <th scope="col">Lote</th>
      <th scope="col">Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colspan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>
