<br>
<app-titulo [filtro]="nome" [botaoListar]="true"></app-titulo>
<br>
<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="card rounded shadow-sm p-3">
  
  <form action="">
    <div class="row g-3">
      <div class="col-sm-8">
        <div class="input-group mb-3">
          <input type="text" class="form-control col-sm-7" placeholder="Filtrar por Tema e Local"
          aria-label="Filtrar por Tema e Local"
          name="filtro" [(ngModel)] = "filtroLista"
          aria-describedby="button-addon2">
          <button class="btn btn-info" type="button" id="button-addon2" (click)="cleanFiltroLista()">Limpar</button>
        </div>
      </div>
      <div class="col-sm-4">
        <h4><span class="badge rounded-pill bg-info text-dark">{{filtroLista}}</span></h4>
      </div>
    </div>
  </form>
  <hr>
  <table class="table">
    <thead>
      <tr>
        <th scope="col"><button type="button" (click)="onToggleImage()" class="btn btn-outline-info">
          {{!mostrarImagem ? 'Mostrar' : 'Ocultar'}}</button></th>
          <th scope="col">#</th>
          <th scope="col">Tema</th>
          <th scope="col">Local</th>
          <th scope="col">Data Evento</th>
          <th scope="col">Qtd Pessoas</th>
          <th scope="col">Lote</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="eventosFiltrados">
        <tr *ngFor="let item of eventosFiltrados; index as i; first as isFirst">
          <td>
            <div *ngIf="mostrarImagem">
              <img
              src="/assets/{{item.imagemURL}}"
              alt="img"
              class="img-thumbnail rounded float-left"
              [style.width.px]="larguraImagem"
              [style.margin.px]="margemImagem">
            </div>
          </td>
          <th scope="row">{{item.id}}</th>
          <td>{{item.tema}}</td>
          <td>{{item.local}}</td>
          <td>{{item.dataEvento | DateTimeFormatPipe}}</td>
          <td>{{item.qtdPessoas}}</td>
          <td>{{item.lotes[0]?.nome | uppercase}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-primary btn-sm me-1"><i-bs name="pencil-square"></i-bs></button>
              <button type="button" class="btn btn-warning btn-sm me-1" ><i-bs name="bookmark-plus"></i-bs></button>
              <button type="button" class="btn btn-danger btn-sm me-1" (click)="openModal(template)" ><i-bs name="file-excel"></i-bs></button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!eventosFiltrados">
        <tr>
          <td colspan="8" class="text-center text-warning">
            <h4>Nenhum Evento Econtrado</h4>
          </td>
        </tr>
      </tfoot>
    </table>
    <br><br>
    
  </div>
  
  <ng-template #template>
    <div class="modal-body text-center">
      <p>Você confirma a exclusão?</p>
      <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
  </ng-template>
  