<div class="card rounded shadow-sm">
  <form [formGroup]="form">
    <!-- <p>
      Form Value: {{form.value | json}}
      <br>
      Form Value: {{form.status | json}}

    </p> -->
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Tema</label>
          <input type="text" class="form-control"
          [ngClass]="cssValidator(f.tema)"
          formControlName="tema" placeholder="">
          <div class="invalid-feedback">
            Tema é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Local</label>
          <input type="text" class="form-control is-invalid" formControlName="local" placeholder=""
          [ngClass]="cssValidator(f.local)"  >
          <div class="invalid-feedback">
            Local é obrigatório
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>Data e Hora</label>
          <input type="text" class="form-control is-invalid" formControlName="dataEvento"
          bsDatepicker [bsConfig]="{ adaptivePosition: true, dateInputFormat: 'DD/MM/YYYY hh:mm a' }"
          [ngClass]="cssValidator(f.dataEvento)"
          placeholder="">
          <div class="invalid-feedback">
            Data e Hora é obrigatório
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>Qtd Pessoas</label>
          <input type="number" class="form-control is-invalid" formControlName="qtdPessoas"
          [ngClass]="cssValidator(f.qtdPessoas)"
          placeholder="">
          <div class="invalid-feedback">
            Quantidade é obrigatório
          </div>
          <label>Imagem URL</label>
          <input type="file" class="form-control is-invalid" formControlName="imagemURL"
          [ngClass]="{'is-invalid': form.get('imagemURL')?.errors && form.get('imagemURL')?.touched}"
          placeholder="">
          <div class="invalid-feedback">
            Imagem é obrigatório
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>Telefone</label>
          <input type="tel" class="form-control is-invalid" formControlName="telefone"
          [ngClass]="cssValidator(f.telefone)"
          placeholder="(000) 90000-0000">
          <div class="invalid-feedback">
            Telefone é obrigatório
          </div>
        </div>
        <div class="form-group col-md-12">
          <label>Email</label>
          <input type="email" class="form-control is-invalid" formControlName="email"
          [ngClass]="cssValidator(f.email)"
          placeholder="e-mail">
          <div class="invalid-feedback">
            Email é obrigatório
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="resetForm()">
          Cancelar Alteração
        </button>
        &nbsp;&nbsp;&nbsp;
        &nbsp;&nbsp;&nbsp;
        <button class="btn btn-success" [disabled]="!form.valid">
          <span class="spinner-border spinner-border-sm mr-1"></span>
          Salvar Evento
        </button>
      </div>
    </div>
  </form>

</div>
