<ngx-spinner type="ball-scale-multiple"></ngx-spinner>

<div class="card rounded shadow-sm p-3">

  <form action="">
    <div class="row g-3">
      <div class="col-sm-10">
        <div class="input-group mb-3">
          <input type="text" class="form-control col-sm-7" placeholder="Filtrar por Tema e Local"
          aria-label="Filtrar por Tema e Local"
          name="filtro" [(ngModel)] = "filtroLista"
          aria-describedby="button-addon2">
          <button class="btn btn-info" type="button" id="button-addon2" (click)="cleanFiltroLista()">Limpar</button>
        </div>
      </div>
      <div class="col-sm-2">
        <h4><span class="badge rounded-pill bg-info text-dark">{{filtroLista}}</span> &nbsp; &nbsp;
         <button class="btn btn-success" type="button" id="button-new" routerLink="/eventos/detalhe">+ Novo</button> </h4>
      </div>
    </div>
  </form>
  <hr>
  <table class="table table-hover">
    <thead>
      <tr>
        <th class="d-none d-md-table-cell">
          <button type="button" class="btn btn-outline-light btn-sm"
          (click)="alterarImagem()">
          <i class="{{!exibirImagem ? 'fa fa-eye' : 'fa fa-eye-slash'}}"></i>
          {{!exibirImagem ? 'exibir' : 'ocultar'}}
        </button>
      </th>
          <th scope="col">#</th>
          <th scope="col">Tema</th>
          <th scope="col" class="d-none d-md-table-cell">Local</th>
          <th scope="col" class="d-none d-md-table-cell">Data Evento</th>
          <th scope="col">Qtd Pessoas</th>
          <th scope="col" class="d-none d-md-table-cell">Lote</th>
          <th scope="col" class="d-none d-md-table-cell">Telefone</th>
          <th scope="col">Opções</th>
        </tr>
      </thead>
      <tbody *ngIf="eventosFiltrados">
        <tr id="tr_id" *ngFor="let item of eventosFiltrados; index as i; first as isFirst" (click)="detalheEvento(item.id)">
          <td class="d-none d-md-table-cell">
            <img [collapse]="!exibirImagem"
            [isAnimated]="true"
            [src]="mostraImagem(item.imagemURL)"
            [style.width.px]="larguraImagem"
            [style.margin.px]="margemImagem"
            >
          </td>
          <th scope="row">{{item.id}}</th>
          <td>{{item.tema}}</td>
          <td class="d-none d-md-table-cell">{{item.local}}</td>
          <td class="d-none d-md-table-cell">{{item.dataEvento}}</td>
          <td>{{item.qtdPessoas}}</td>
          <td class="d-none d-md-table-cell">{{item.lotes[0]?.nome | uppercase}}</td>
          <td class="d-none d-md-table-cell">{{item.telefone}}</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-danger btn-sm me-1" (click)="openModal($event, template, item.id)" ><i class="fa fa-window-close" aria-hidden="true"></i></button>
            </div>
          </td>
        </tr>
      </tbody>
      <tfoot *ngIf="!eventosFiltrados">
        <tr>
          <td colspan="8" class="text-center text-warning">
            <h4>Nenhum Evento Econtrado</h4>
          </td>
        </tr>
      </tfoot>
    </table>
    <br><br>
<!-- {{eventosFiltrados | json}} -->
  </div>

  <ng-template #template>
    <div class="modal-body text-center">
      <p>Excluir Evento do código: {{eventoId}} ?</p>
      <button type="button" class="btn btn-default" (click)="confirm()">Sim</button>
      <button type="button" class="btn btn-primary" (click)="decline()">Não</button>
    </div>
  </ng-template>
